<h3 class="heading">Register Multi-Step Form</h3>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="basicForm">
    <form [formGroup]="basicForm" autocomplete="off">
      <ng-template matStepLabel>Basic Details</ng-template>
      <div *ngFor="let user of fetchitems">
        <div [ngSwitch]="user.Type">
          <div *ngSwitchCase="'input'">
            <mat-form-field>
              <mat-label>{{user.Label}}</mat-label>
              <input matInput name="{{user.ID}}" [formControlName]="user.ID">
            </mat-form-field>
            <br />
          </div>
          <div *ngSwitchCase="'radio'">
            <div class="mb-2">
              <mat-label class="gd">{{user.Label}}</mat-label>
            </div>
            <mat-radio-group class="rad" aria-label="Select an option" [formControlName]="user.ID" name="{{user.ID}}">
              <mat-radio-button *ngFor="let val of user.Value.split(',')" value="{{val}}">{{val}}</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div>
        <button class="nbutton" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="roleForm">
    <form [formGroup]="roleForm">
      <ng-template matStepLabel>Role Details</ng-template>
      <div *ngFor="let role of fetchitems">
        <div [ngSwitch]="role.Type">

          <div *ngSwitchCase="'select'">
            <mat-form-field appearance="fill">
              <mat-label>{{role.Label}}</mat-label>
              <mat-select name="{{role.ID}}" [formControlName]="role.ID">
                <mat-option *ngFor="let val of role.Value.split(',')" value="{{val}}">
                  {{val}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div *ngSwitchCase="'select multiple'">
            <mat-form-field appearance="fill">
              <mat-label>{{role.Label}}</mat-label>
              <mat-select name="{{role.ID}}" [formControlName]="role.ID" multiple>
                <mat-option *ngFor="let val of role.Value.split(',')" value="{{val}}">
                  {{val}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div *ngSwitchCase="'textarea'">
            <mat-form-field>
              <mat-label>{{role.Label}}</mat-label>
              <textarea class="tarea" [formControlName]="role.ID" matInput name="{{role.ID}}">
                </textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="moreDetails">
    <form [formGroup]="moreDetails">
      <ng-template matStepLabel>More Details</ng-template>
      <div *ngFor="let data of fetchitems">
        <div [ngSwitch]="data.Type">

          <div *ngSwitchCase="'checkbox'">
            <div>
              <label>{{data.Label}}</label>
            </div>
            <section class="chk" name="{{data.ID}}">
              <mat-checkbox [formControlName]="data.ID" *ngFor="let val of data.Value.split(',')" class="chk"
                value="{{val}}">{{val}}</mat-checkbox>
            </section>
          </div>

          <div *ngSwitchCase="'date'">
            <mat-form-field appearance="fill">
              <mat-label>{{data.Label}}</mat-label>
              <input matInput [matDatepicker]="picker" [formControlName]="data.ID">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>

    </form>

  </mat-step>


  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>

    <mat-list>
      <mat-list-item> <strong>Name:</strong> {{ this.basicForm.value.Name }}</mat-list-item>
      <mat-list-item> <strong>Email:</strong> {{ this.basicForm.value.Email }}</mat-list-item>
      <mat-list-item> <strong>Gender</strong> {{ this.basicForm.value.Gender }}</mat-list-item>
      <mat-list-item> <strong>Department</strong> {{ this.roleForm.value.Department }}</mat-list-item>
    </mat-list>

    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="submit()">Submit</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>